<h1>Give Change</h1>
<form class="" action="/output" method="get">
  <div class="form-group">
    <label for="phrase">type a value in cents here.</label>
    <input id="phrase" type="number" name="phrase" value="">
  </div>

  <button type="submit" name="button">Replace!</button>
</form>
